body{
    padding : 0;
    margin:0;
    display:flex;
    justify-content: center;
    background-color: #101a18ff;
}


#message-container{
    width:80%;
    max-width: 1200px;
    margin-bottom: 80px;
    overflow: hidden;
    margin-right: -10px;
    
}

#message-container div{
    color: rgb(221, 240, 240);
    font-size: large;
    text-align: left;
    border-left: 3px solid #20ff00e6;
    padding: 1em 1em;
    margin-bottom: 3px;
    /* background: linear-gradient(to right,#222046,#19172d); */
    background:transparent;
}   

/* #message-container div:nth-child(2n){ */
    /* background-color:#fff; */
    /* } */
    #message-container div.other{
    text-align: right;
    border-right: 3px solid #c700ffe6;
    /* background: linear-gradient(to left,#221c40,#19172d); */
    background:transparent;
    border-left: none;
}
#message-container div:other:first(){
    margin:20px;
}


#send-container{
    position: fixed;
    bottom:0rem;
    width:90%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    min-height: 5vh;
    margin-top: auto;
    padding-bottom: .75rem;
    background:linear-gradient(0deg, rgba(16,26,24,1) 0%, rgba(16,26,24,1) 36%, rgba(16,26,24,0.024038461538461564) 100%);
    align-items: center;
    justify-content: center;
}

#send-btn{
    font-size: medium;
    margin: 0px -1px 0px 4px;
}   
#message-input{
    width: 100%;
    margin: 5px 7px 5px 3rem;
    background-color: rgba(0, 0, 0, 0.11);
    outline: none;
    border: 2px solid #73727a;
    height: 2rem;
    border-radius: 18px;
    padding-left: 1rem;
    color: white;
    overflow: scroll;
    font-size: larger;
    padding:0.23rem 1.2rem;
}
#message-input:focus{
    background-color: #101a18ff;
    border-color: #c3c2d3
}